.Card {
  width: 300px;
  margin: 45px;

  display: inline-block;
}

.Link{
	text-decoration: none;
}

#content{
	display:flex;
	justify-content:center;
	
}

#inner-content{
	padding-top:30px;
	padding-bottom:30px;
	padding-left:40px;
	padding-right:40px;
	overflow:hidden;
	border-radius:30px;
	-webkit-box-shadow:0px 3px 20px 0px rgba(0,0,0,0.3);
	
}

#img{
	height: 100%;
    background: 
        url(../img/hand.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#loading{
	display : block;
	position : fixed;
	z-index: 100;
	background-color:#666;
	opacity : 0.4;
	background-repeat : no-repeat;
	background-position : center;
	left : 50%;
	bottom : 0;
	right : 0;
	top : 50%;
	margin: -50px 0px 0px -50px;
}

#style1{
	padding-left:25px;
	padding-top:30px;
	padding-right:25px ;
	padding-bottom:10px ;
}

